* {
    margin: 0%;
    padding: 0%;
}

#splash{
    background-color: white;
    background-image: url('../assets/cover.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; /*Contain respeta el tamaño original de la imagen*/
    bottom:0; /*Si se quita ya no aparece el splash*/
    height: 100vh;
    left:0;  /*Al parecer, no hace diferencia*/
    position:absolute; /*Si se quita ya no aparece el splash*/
    top:0; /*Si se quita ya no aparece el splash*/
    width:100%; /*Ancho del splash*/
    z-index: 10; /*Al parecer, no hace diferencia*/
}

/*Inicia navbar*/
#navbar {
    background: rgba(0, 0, 0, 0.9);
    box-shadow: -5px 2px 12px black;
    overflow: hidden;
}

#logo {
    float: left;
    margin-left: 10px;
    padding-top: 5px;
    width: 7vh;
}

.brand {
    color:white;
    float: left;
    font-family: Helvetica;
    padding: 16px;
    text-decoration: none;  
}

.burger-menu {
    margin-right: 15px;
    float: right;
    color: white;
    text-decoration: none;
    font-family: Helvetica;
}

.burger-menu:hover {
    background-color: #d33069;
    color: white;
}

nav ul li {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    position: relative;
    text-decoration: none;
    padding: 16px 17px;
}

li:hover {
    background-color: #d33069;
    color: white;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

#menu {
    padding: 16px 17px;
}


/*Cover*/
#cover {
    z-index: -1;
    background-image: url(../assets/cover.gif);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
}

#bee {
    height: 12vh;
    position: relative;
    cursor: pointer;
    transform: translateX(-50%) translateY(-75%);

    /* Safari 4.0 - 8.0 */
    -webkit-animation-name: bee;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    /* Standard syntax */
    animation-name: example;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@-webkit-keyframes example {
    0%   {left:0px; top:0px;}
    25%  {left:200px; top:300px;}
    50%  {left:200px; top:200px;}
    75%  {left:200px; top:0px;}
    100% {left:0px; top:200px;}
}

/* Standard syntax */
@keyframes example {
    0%   {left:0px; top:0px;}
    25%  {left:200px; top:0px;}
    50%  {left:200px; top:200px;}
    75%  {left:0px; top:200px;}
    100% {left:0px; top:0px;}
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.mobileImg {
    max-width: 100%;
    min-width: 50%;
}

@media (max-width: 576px) {
    .mobileImg {
       width: 94vh;
    }
 }

/*About me*/
#technology {
    font-size: 4vh;
}

#aboutMe {
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.4);
    background-color: #fcdbdb;
}

.aboutFirst {
    margin-top: 3vh;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 2%;
}

.aboutText {
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 2%;
}


/*Work*/
.work {
    align-content: center;
}

.projectImg {
    width: 35vh;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.6);
}

.card {
    display: block;
}

/*Contact*/
#contactSection {
    font-family: Arial, Helvetica, sans-serif;
}

#contactHeader {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0%;
    margin-bottom: 6%;
    font-size: 18px;
    color: white;
}

#contactForm {
    padding: 0;
    width: 100%;
}

#leftSide {
    background: rgba(0, 0, 0, 0.9);
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 10.4);  
    color: white;  
}

input {
    border:none;
    background-color: rgba(255, 255, 255, 0.9);
    height: 3vh;
    border-radius: 1px;
}

.alert {
    text-align: center;
    padding: 10px;
    background: #79c879;
    color: white;
    margin-bottom: 10px;
    display: none;
}

#name {
    width: 90%;
    margin-bottom: 9px;
}

#email {
    width: 90%;
    margin-bottom: 25px;
}

#message {
    width: 90%;
    margin-bottom: 27px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 1px;
}

#submit {
    width: 40%;
    margin-bottom: 20px;
    padding: 10px 10px;
    border: none;
    background-color: #d33069;
    color:white;
    cursor: pointer;
}

#submit:hover {
    background-color: #c9365b;
    color:white;
}

#myNameIs {
    font-family: 'Pacifico', cursive;
    font-size: 4vh;
    margin-bottom: 5px;
    margin-top: 1vh;
}

.myInfo {
    margin-bottom: 30px;
}

#downloadButton {
    background-color: #d33069;
    color: white;
    padding: 10px 10px;
    border:none;
    cursor: pointer;
}

.socialMedia {
    font-size: 4vh;
    margin-top: 4vh;
    margin-left: 2vh;
}

/*Footer*/
footer {
    background: rgba(0, 0, 0, 0.9);
    color: white;
    font-size: 2vh;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 12px;
    height: 6vh;
 }
