* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0%;
  padding: 0%;
}

html {
  background-color: #F4F4F4;
}

#splash{
    background-color: white;
    background-image: url('../assets/cover.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; /*Contain respeta el tamaño original de la imagen*/
    bottom:0; /*Si se quita ya no aparece el splash*/
    height: 100vh;
    position:absolute; /*Si se quita ya no aparece el splash*/
    top:0; /*Si se quita ya no aparece el splash*/
    width:100%; /*Ancho del splash*/
    z-index: 10; /*Al parecer, no hace diferencia*/
}

/* Navbar */
.topnav {
    background-color: #2d2a2d;
    overflow: hidden;
    position: fixed;
    width: 100%;
  }

div a img {
    height: 14px;
    left: 0;
    top: 0;
}

div a {
    height: 100%;
}
  
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  color: white;
}
  
.topnav .icon {
  display: none;
}
  
.dropdown {
  float: left;
  overflow: hidden;
}
  
.dropdown .dropbtn {
  font-size: 17px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
  
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
  
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
  
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #d33069;
  color: white;
}
  
.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}
  
.dropdown:hover .dropdown-content {
  display: block;
}
  
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
      }
    }
  
@media screen and (max-width: 600px) {
  .topnav.responsive {position: fixed;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
      }
      .topnav.responsive .dropdown {float: none;}
      .topnav.responsive .dropdown-content {position: relative;}
      .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
      }
    }

/*Body*/
.first {
    padding-top: 12vh;
  }

/*Contact*/  
#contactHeader {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
    color: #2d2a2d;
  }
  
input {
    background-color: white;
    border:none;
    border-radius: 1px;
    height: 3vh;
  }
  
.alert {
    background: #79c879;
    color: white;
    display: none;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
  }
  
#name {
    margin-bottom: 12px;
    width: 90%;
  }
  
#email {
    margin-bottom: 25px;
    width: 90%;
  }
  
#message {
    border:none;
    margin-bottom: 27px;
    width: 90%;
  }
  
#submit {
    background-color: #d33069;
    border: none;
    color:white;
    cursor: pointer;
    margin-bottom: 20px;
    padding: 10px 10px;
    width: 40%;
  }
  
#submit:hover {
    background-color:#a82550;
    color:white;
  }
  
#myNameIs {
    font-family: 'Pacifico', cursive;
    font-size: 4vh;
    margin-bottom: 5px;
    margin-top: 1vh;
  }
  
.myInfo {
    margin-bottom: 30px;
  }
  
#downloadButton {
    background-color: #d33069;
    border:none;
    color: white;
    cursor: pointer;
    text-decoration: none;
    padding: 10px 10px;
}

#downloadButton:hover {
    background-color: #a82550;
}
  
.socialMedia {
    font-size: 4vh;
    margin-bottom: 6vh; 
}
  
.socialMedia:hover {
    color: #a82550;
}
  
/*Footer*/
footer {
    background: #2d2a2d;
    color: white;
    font-size: 1.5vh;
    height: 4vh;
    width: 100%;
    text-align: center;
    padding-top: 1vh;
    position: fixed;
    bottom: 0px;
}